<div class="text-light">
    <h1 class="text-center">Detalles</h1>
    <ul class="list-group">
        <li class="list-group-item"><b>Nombre: </b><span>{{pelicula.nombre}}</span></li>
        <li class="list-group-item"><b>Tipo: </b><span>{{pelicula.tipo}}</span></li>
        <li class="list-group-item"><b>Estreno: </b><span>{{pelicula.fechaDeEstreno}}</span></li>
        <li class="list-group-item"><b>Publico: </b><span>{{pelicula.cantidadDePublico}}</span></li>
        <li class="list-group-item text-center"><img src={{pelicula.fotoDePelicula}} style="width: 300px"></li>
    </ul>
</div>